button {
    height: 44px;
    width: 200px;
    color: #fff;
    background-color: rgb(51,115,170);
    border-radius: 3px;
    border: none;
}

button:hover {
    color: rgb(51,115,170);
    background-color: #fff;
    border: 1px solid rgb(51,115,170);
}

h1 {

}

h2 {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    color: rgb(51,115,170);
}

h3 {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    color: rgb(51,115,170);
}

h4 {}
h5 {}
h6 {}

a {
    
}

a:hover {
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}

p {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.wrapper {
    /*max-width:1080px;*/
    padding: 0 60px;
}

.flex-center {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-flow: column;
    -webkit-flex-flow: column;
}

section {
    margin: 30px auto;
}

header {
    background-color: #fff;
}

header div {
    margin-top: 15px;
    margin-bottom: 15px;
}

header .social-media {
    margin: 15px auto;
    text-align: right;
}

header .social-media a i{
    font-size: 16px;
    padding: 0 10px;
}

header nav {
    border-top: 1px solid rgb(51,115,170);
    border-bottom: 1px solid rgb(51,115,170);
}

header nav ul {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;
    text-decoration: none;
    list-style: none;
    margin: 15px auto;
}

footer{
    background-color: rgb(77,77,77);
}

footer * {
    color: #fff;
}

footer span {
    max-width: 60px;
    min-height: 4px;
    display: block;
    background-color: #fff;
}

footer small {
    margin: 15px 0;
}