/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

button {
    height: 44px;
    width: 200px;
    color: #fff;
    background-color: rgb(51,115,170);
    border-radius: 3px;
    border: none;
}

button:hover {
    color: rgb(51,115,170);
    background-color: #fff;
    border: 1px solid rgb(51,115,170);
}

button.whiteBtn {
    background-color: #fff;
    color: rgb(51,115,170);
}

button.whiteBtn:hover {
    background-color: rgb(51,115,170);
    color: #fff;
    border: 1px solid #fff;
}

h1 {

}

h2 {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    color: rgb(51,115,170);
}

h3 {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    color: rgb(51,115,170);
}

h4 {}
h5 {}
h6 {}

a {

}

a:hover {
    cursor: pointer;
    text-decoration: none;
    list-style: none;
}

p {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.wrapper {
    /*max-width:1080px;*/
    padding-left: 60px;
    padding-right: 60px;
}

.flex-center {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-flow: column;
    -webkit-flex-flow: column;
}

header {
    background-color: #fff;
}

header div {
    margin-top: 15px;
    margin-bottom: 15px;
}

.social-media {
    margin: 15px auto;
    text-align: right;
}

.social-media a i{
    font-size: 16px;
    padding: 0 10px;
}

header nav {
    border-top: 1px solid rgb(51,115,170);
    border-bottom: 1px solid rgb(51,115,170);
}

header nav ul {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;
    text-decoration: none;
    list-style: none;
    margin: 15px auto;
}

footer{
    background-color: rgb(77,77,77);
}

footer * {
    color: #fff;
}

footer span {
    max-width: 60px;
    min-height: 4px;
    display: block;
    background-color: #fff;
}

footer small {
    margin: 15px 0;
}

.hero-banner {
    width: 100%;
    max-height: 480px;
    overflow: hidden;
}

.hero-banner-content {
    position: absolute;
    display: flex;
    align-items: flex-start;
    flex-flow: column;
    justify-content: space-between;
    height: 66%;
    width: 100%;
    color: #fff;
}

.hero-banner-content h2 {
    align-self: flex-end;
    color: #fff;
}

img {
    width: 100%;
    height: auto;
}


.bg-gray {
    background-color: lightgray;
}

.bg-white {
    background-color: #fff;
}

.bg-blue {
    background-color: rgb(51,115,170);
}
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

.team-individual {
    height: 360px;
    width: 100%;
    margin: 30px auto;
}

.team-individual div {
    height: 100%;
    float: left;
    display: inline-block;
}

.team-individual div:nth-of-type(odd) {
    width: 360px;
    background-color: #ddd;
}

.team-individual div img {
    height: 100%;
    width: auto;
}

.team-post img {
    height: auto;
    width: 100%;
}

.team-member {
    margin: 30px auto;
}

.center-block {
    float: none!important;
}

/*--------------------------------------------------------------
# Home Page Component Styles
--------------------------------------------------------------*/

.our-focus {
    background-color: rgb(51,115,170);
    display: block;
    margin: auto;
    float: left;
    color: #fff;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.our-focus h2 {
    color: #fff;
}

.our-focus div {
    width: 14%;
    display: inline-block;
    margin: 15px auto;
}

.our-focus div img {
    width: 100%;
    max-width: 114px;
}

.our-focus div p {
    margin: 0 auto;
}

.process {
    margin: 30px auto;
    display: block;
    text-align: center;
}

.process div {
    margin: auto;
    display: block;
}

.process div img {
    width: 100%;
    max-width: 114px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgb(51,115,170);
}

.process div p {
    color: rgb(51,115,170);
}

.about {
    background-color: lightgrey;
}

.about .row {
    background: #fff;
    margin: 30px auto;
}

/*--------------------------------------------------------------
# Content Page Template Styles
--------------------------------------------------------------*/

.careerBanner {
    background: linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
    ), url('../img/BannerAdvanceYourCareer.png') fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    height: 480px;
    width: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}



.yourTeamBanner {
    background-image: url('../img/BannerAdvanceYourCareer.png');
}

.action-banner {
    color: #fff;
    background-color: rgb(51,115,170);
    display: block;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.action-banner button {
    display: block;
    margin: auto;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/

.resume {
    margin: 30px auto;
}

/*--------------------------------------------------------------
# Responsive Styles
--------------------------------------------------------------*/

@media (max-width: 1024px) and (orientation: landscape) {


}

@media (max-width: 1024px) and (orientation: portrait) {

}

@media (max-width: 768px) and (orientation: landscape) {
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

}

@media (max-width: 768px) and (orientation: portrait) {
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    footer div {
        text-align: center;
    }

    footer span {
        margin: auto;
    }
}