/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
/*
COLORS:
Dark Grey - FOOTER - #747884
Pale Grey - Page Edges - #D8D5D2
Blue - Iconography - #2B79A0
Aqua Teal Blue - Contrast - #08B4BC
Orange - Contrast - #F77B00
Brownish - Contrast - #87615C

FONTS:
Oswald
Droid Serif
*/

body {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-size: 16px;
    color: #747884;
    letter-spacing: 0.5px;
}

button {
    height: 44px;
    min-width: 200px;
    color: #fff;
    background-color: #2B79A0;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    margin: 15px auto;
    padding-left: 15px;
    padding-right: 15px;
}

button:hover {
    color: #2B79A0;
    background-color: #fff;
    border: 1px solid #2B79A0;
}

button.whiteBtn {
    background-color: #fff;
    color: #2B79A0;
}

button.whiteBtn:hover {
    background-color: #2B79A0;
    color: #fff;
    border: 1px solid #fff;
}

h1 {
    font-family: "Oswald", "Helvetica", sans-serif;
}

h2 {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-size: 24px;
    color: #2B79A0;
    line-height: 1.5;
}

h3 {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-size: 24px;
    color: #2B79A0;
    line-height: 1.5;
}

h4 {
    font-family: "Oswald", "Helvetica", sans-serif;
}

h5 {
    font-family: "Oswald", "Helvetica", sans-serif;
}

h6 {
    font-family: "Oswald", "Helvetica", sans-serif;
}

a {
    font-family: "Oswald", "Helvetica", sans-serif;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

p {
    font-family: "Oswald", "Helvetica", sans-serif;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #2B79A0;
}

li {
    font-family: "Oswald", "Helvetica", sans-serif;
    color: #2B79A0;
}

small {
    font-family: "Oswald", "Helvetica", sans-serif;
    margin: 15px auto;
    font-size: 90%;
    float: left;
    width: 100%;
}

ul, ol {
    margin-top: 15px;
    margin-bottom: 30px;
}

.wrapper {
    padding-left: 60px;
    padding-right: 60px;
}

.flex-center-stacked {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-flow: column;
    -webkit-flex-flow: column;
}

.flex-center-row {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
}

header {
    background-color: #fff;
}

header div {
    margin-top: 15px;
    margin-bottom: 15px;
}

header > div > h3 {
    text-align: right;
}

.social-media {
    margin: 15px auto;
    text-align: right;
}

.social-media a i {
    font-size: 16px;
    padding: 0 10px;
}

header nav {
    background-color: #d8d5d2;
    border-top: 1px solid #2B79A0;
    border-bottom: 1px solid #2B79A0;
}

header nav ul {
    display: block;
    text-decoration: none;
    list-style: none;
    margin: auto;
    text-align: center;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

header nav ul a {
    display: inline-block;
    padding: 15px;
    color: #2B79A0;;
    font-size: 18px;
    text-transform: uppercase;
}

header nav ul a:hover {
    color: #fff;
    background-color: #2B79A0;;
    transition:all 0.3s ease;
}

header nav ul a:hover li {
    color: #fff!important;
}

footer{
    background-color: #747884;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer * {
    color: #fff;
}

footer span {
    max-width: 60px;
    min-height: 4px;
    display: block;
    background-color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
}

footer small {
    margin: 15px 0;
}

.hero-banner {
    width: 100%;
    max-height: 480px;
    overflow: hidden;
}

.hero-banner-content {
    position: absolute;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    color: #fff;
}

.hero-banner-content h3 {
    align-self: flex-end;
    color: #fff;
}

img {
    width: 100%;
    height: auto;
}

.logo {
    min-width: 250px;
}


.bg-gray {
    background-color: #d8d5d2;
}

.bg-white {
    background-color: #fff;
}

.bg-blue {
    background-color: #2B79A0;
}

.content-container {
    max-width: 960px;
    margin: 30px auto;
}

.content {
    margin: 15px auto 30px;
}

.content:nth-of-type(even) {
    flex-flow: row-reverse wrap;
    -webkit-flex-flow: row-reverse wrap;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

.team-individual {
   /* height: 360px;*/
    width: 100%;
    margin: 30px auto;
}

.team-individual div {
    height: 100%;
    float: left;
    display: inline-block;
}

.team-individual div:nth-of-type(odd) {
    /*width: 360px;*/
    /*height: 360px;*/
    /*background-color: #ddd;*/
}

.team-individual div img {
    /*height: 100%;*/
    /*width: auto;*/
}

.team-post img {
    height: auto;
    width: 100%;
}

.team-member {
    margin: 30px auto;
}

.center-block {
    float: none!important;
}

/*--------------------------------------------------------------
# Home Page Component Styles
--------------------------------------------------------------*/

.our-focus {
    background-color: #2B79A0;
    display: block;
    margin: auto;
    float: left;
    color: #fff;
    text-align: center;
}

.our-focus h1, .our-focus h2, .our-focus h3, .our-focus h4 {
    color: #fff;
}

.our-focus .focuses {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

.our-focus .focuses li {
    list-style: none;
    margin: 10px auto;
    color: #fff;
}

.our-focus .focuses li img {
    width: 100%;
    max-width: 80px;
}

.our-focus div {
    display: block;
    margin: 15px auto;
}

.our-focus div p {
    margin: 0 auto;
}

.our-focus div a button {
    background-color: #fff;
    color: #2B79A0;
}

.process {
    margin: 15px auto;
    display: block;
    text-align: center;
}

.process div {
    margin: auto;
    display: block;
}

.process div img {
    width: 100%;
    max-width: 80px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #2B79A0;
    padding: 10px;
}

.process div small {
    color: #2B79A0;
}

.about {

}

.about .row {
    background: #fff;
    margin: 30px auto;
}

/*--------------------------------------------------------------
# Content Page Template Styles
--------------------------------------------------------------*/

.careerBanner {
    background: linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
    ), url('../img/BannerAdvanceYourCareer.png') no-repeat 100% 100% / auto 100% fixed;
}

.teamBanner {
    background: linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
    ), url('../img/BannerBuildYourTeam.png') fixed;
}

.homeBanner {
    padding: 30px;
    background-repeat:no-repeat;
    background-position:left bottom; /* or 0&#37; 100% */
    background-image: url('../img/kdaHome.png');
}

.careerBanner, .teamBanner, .homeBanner, .heroBanner {
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    width: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
}


.homeBanner {
    align-items: flex-start;
    -webkit-align-items: flex-start;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}

.homeBanner * {
    color:#2B79A0;
}

.action-banner {
    color: #fff;
    background-color: #2B79A0;
    display: block;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.action-banner p {
    color: #fff;
}

.action-banner button {
    margin: 15px;
    /*display: block;*/
    /*margin: auto;*/
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/

.resume {
    margin: 30px auto;
}

#upload-input {
    /*display: none;*/
}

.uploadcare-widget-button {
    background-color: #2b79a0;
    margin: 15px auto;
}

/*--------------------------------------------------------------
# Content Pages
--------------------------------------------------------------*/

.network {
    margin: 15px auto;
}

.testimonials blockquote{
    border-left: none;
}

.testimonials blockquote p {
    font-family: "Oswald", "Helvetica", serif;
    font-style: italic;
    color: #2B79A0;
}

.testimonials blockquote small {
    color: #2b79a0;
}

.active-searches button {
    float: left;
    clear: both;
}
/*--------------------------------------------------------------
# Hamburger Menu
--------------------------------------------------------------*/

#nav-toggle {
    position: absolute;
    /*left: 50%;*/
    z-index: 100;
    left: 15px;
    top: 50%;
}

#nav-toggle {
    cursor: pointer;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #d8d5d2;
    position: absolute;
    display: none;
    content: '';
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 125ms ease-in-out;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

.full-screen-mobile-menu {
    height: 100vh;
    width: 0;
    position: fixed;
    background: #2B79A0;
    transition:all .3s ease-in-out;
    z-index: 99;
    top: 0;
    left: 0;
    margin: 0;
}

.full-screen-mobile-menu.show {
    display: block;
    width: 100vw;
}

.full-screen-mobile-menu ul {
    display: none;
}

.full-screen-mobile-menu.show ul {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-flow: column;
    height: 100%;
    list-style: none;
    font-size: 2em;
}

.full-screen-mobile-menu ul li {
    color: #fff;
}

.no-scroll {
    overflow: hidden;
}

/*--------------------------------------------------------------
# 404 Error
--------------------------------------------------------------*/

.err404 {

}

.err404 h1 {
        color: #2a6496;
        font-size: 108px;
}

.err404 ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    list-style: none;
}

.err404 li {
    text-decoration: underline;
    margin: 10px auto;
}

/*--------------------------------------------------------------
# Responsive Styles
--------------------------------------------------------------*/

@media (max-width: 1024px) and (orientation: landscape) {
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

}

@media (max-width: 1024px) and (orientation: portrait) {
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    header > div > h3 {
        text-align: center;
    }

    .our-focus div h3, .our-focus div a {
        text-align: center;
    }

    .homeBanner {
        height: 360px;
    }

    .hero-banner img {
        width: auto;
        height: auto;
    }

    .content-container {
        max-width: 100%;
    }

    header {
        border-bottom: 1px solid #2B79A0;
    }

    header > div > h3 {
        text-align: center;
        display: none;
    }

    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
        display: block;
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    header > div > h3 {
        text-align: center;
        display: none;
    }

    .our-focus div h3, .our-focus div a {
        text-align: center;
        width: 100%;
    }

    .hero-banner img {
        width: auto;
        height: auto;
    }

    .homeBanner {
        max-height: 360px;
    }

    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .content-container {
        max-width: 100%;
    }

    header {
        border-bottom: 1px solid #2B79A0;
    }

    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
        display: block;
    }

    footer div {
        /*text-align: center;*/
    }

    footer span {
        /*margin: 15px auto;*/
    }
}