/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/

button {
    height: 44px;
    min-width: 200px;
    color: #fff;
    background-color: rgb(51,115,170);
    border-radius: 3px;
    border: none;
    font-size: 18px;
    margin: 15px auto;
    padding-left: 15px;
    padding-right: 15px;
}

button:hover {
    color: rgb(51,115,170);
    background-color: #fff;
    border: 1px solid rgb(51,115,170);
}

button.whiteBtn {
    background-color: #fff;
    color: rgb(51,115,170);
}

button.whiteBtn:hover {
    background-color: rgb(51,115,170);
    color: #fff;
    border: 1px solid #fff;
}

h1 {

}

h2 {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    color: rgb(51,115,170);
    line-height: 1.5;
}

h3 {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    color: rgb(51,115,170);
    line-height: 1.5;
}

h4 {}
h5 {}
h6 {}

a {
    font-family: Roboto, sans-serif;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

p {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}

small {
    margin: 15px auto;
    font-size: 90%;
    float: left;
    width: 100%;
}

.wrapper {
    /*max-width:1080px;*/
    padding-left: 60px;
    padding-right: 60px;
}

.flex-center-stacked {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-flow: column;
    -webkit-flex-flow: column;
}

.flex-center-row {
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
}

header {
    background-color: #fff;
}

header div {
    margin-top: 15px;
    margin-bottom: 15px;
}

header > div > h3 {
    text-align: right;
}

.social-media {
    margin: 15px auto;
    text-align: right;
}

.social-media a i {
    font-size: 16px;
    padding: 0 10px;
}

header nav {
    background-color: lightgrey;
    border-top: 1px solid rgb(51,115,170);
    border-bottom: 1px solid rgb(51,115,170);
}

header nav ul {
    display: block;
    text-decoration: none;
    list-style: none;
    margin: auto;
    text-align: center;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

header nav ul a {
    display: inline-block;
    padding: 15px;
    color: rgb(51,115,170);;
    font-size: 18px;
    text-transform: uppercase;
    /*font-family: "Roboto";*/
}

header nav ul a:hover {
    color: #fff;
    background-color: rgb(51,115,170);;
    transition:all 0.3s ease;
}

footer{
    background-color: rgb(77,77,77);
    padding-top: 15px;
    padding-bottom: 15px;
}

footer * {
    color: #fff;
}

footer span {
    max-width: 60px;
    min-height: 4px;
    display: block;
    background-color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
}

footer small {
    margin: 15px 0;
}

.hero-banner {
    width: 100%;
    max-height: 480px;
    overflow: hidden;
}

.hero-banner-content {
    position: absolute;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    color: #fff;
}

.hero-banner-content h3 {
    align-self: flex-end;
    color: #fff;
}

img {
    width: 100%;
    height: auto;
}

.logo {
    min-width: 250px;
}


.bg-gray {
    background-color: #ebeaf4;
}

.bg-white {
    background-color: #fff;
}

.bg-blue {
    background-color: rgb(51,115,170);
}

.content-container {
    max-width: 800px;
    margin: auto;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/

.team-individual {
   /* height: 360px;*/
    width: 100%;
    margin: 30px auto;
}

.team-individual div {
    height: 100%;
    float: left;
    display: inline-block;
}

.team-individual div:nth-of-type(odd) {
    /*width: 360px;*/
    /*height: 360px;*/
    /*background-color: #ddd;*/
}

.team-individual div img {
    /*height: 100%;*/
    /*width: auto;*/
}

.team-post img {
    height: auto;
    width: 100%;
}

.team-member {
    margin: 30px auto;
}

.center-block {
    float: none!important;
}

/*--------------------------------------------------------------
# Home Page Component Styles
--------------------------------------------------------------*/

.our-focus {
    background-color: rgb(51,115,170);
    display: block;
    margin: auto;
    float: left;
    color: #fff;
    text-align: center;
}

.our-focus h1, .our-focus h2, .our-focus h3, .our-focus h4 {
    color: #fff;
}

.our-focus .focuses {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

.our-focus .focuses li {
    list-style: none;
    margin: 10px auto;
}

.our-focus .focuses li img {
    width: 100%;
    max-width: 80px;
}

.our-focus div {
    display: block;
    margin: 15px auto;
}

.our-focus div p {
    margin: 0 auto;
}

.our-focus div a button {
    background-color: #fff;
    color: rgb(51,115,170);
}

.process {
    margin: 15px auto;
    display: block;
    text-align: center;
}

.process div {
    margin: auto;
    display: block;
}

.process div img {
    width: 100%;
    max-width: 80px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgb(51,115,170);
    padding: 10px;
}

.process div small {
    color: rgb(51,115,170);
}

.about {

}

.about .row {
    background: #fff;
    margin: 30px auto;
}

/*--------------------------------------------------------------
# Content Page Template Styles
--------------------------------------------------------------*/

.careerBanner, .teamBanner {
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    height: 480px;
    width: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}

.careerBanner {
    background: linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
    ), url('../img/BannerAdvanceYourCareer.png') fixed;
}

.teamBanner {
    background: linear-gradient(
            rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)
    ), url('../img/BannerBuildYourTeam.png') fixed;
}

.action-banner {
    color: #fff;
    background-color: rgb(51,115,170);
    display: block;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.action-banner button {
    /*display: block;*/
    /*margin: auto;*/
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/

.resume {
    margin: 30px auto;
}

/*--------------------------------------------------------------
# Content Pages
--------------------------------------------------------------*/

.network {
    margin: 15px auto;
}

.testimonials blockquote{

}

/*--------------------------------------------------------------
# Hamburger Menu
--------------------------------------------------------------*/

#nav-toggle {
    position: absolute;
    /*left: 50%;*/
    z-index: 100;
    left: 15px;
    top: 50%;
}

#nav-toggle {
    cursor: pointer;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: grey;
    position: absolute;
    display: none;
    content: '';
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 125ms ease-in-out;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

.full-screen-mobile-menu {
    height: 100vh;
    width: 0;
    position: fixed;
    background: ghostwhite;
    transition:all .3s ease-in-out;
    z-index: 99;
    top: 0;
    left: 0;
    margin: 0;
}

.full-screen-mobile-menu.show {
    display: block;
    width: 100vw;
}

.full-screen-mobile-menu ul {
    display: none;
}

.full-screen-mobile-menu.show ul {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-flow: column;
    height: 100%;
    list-style: none;
    font-size: 2em;
}

.no-scroll {
    overflow: hidden;
}
/*--------------------------------------------------------------
# Responsive Styles
--------------------------------------------------------------*/

@media (max-width: 1024px) and (orientation: landscape) {
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

}

@media (max-width: 1024px) and (orientation: portrait) {
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 768px) and (orientation: landscape) {
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    header > div > h3 {
        text-align: center;
    }

    .our-focus div h3, .our-focus div a {
        text-align: center;
    }

    .hero-banner {
        max-height: 360px;
    }

    .hero-banner img {
        width: auto;
        height: auto;
    }

    .content-container {
        max-width: 100%;
    }

    header {
        border-bottom: 1px solid rgb(51,115,170);
    }

    header > div > h3 {
        text-align: center;
        display: none;
    }

    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
        display: block;
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    header > div > h3 {
        text-align: center;
        display: none;
    }

    .our-focus div h3, .our-focus div a {
        text-align: center;
        width: 100%;
    }

    .hero-banner img {
        width: auto;
        height: auto;
    }

    .hero-banner {
        max-height: 360px;
    }

    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .content-container {
        max-width: 100%;
    }

    header {
        border-bottom: 1px solid rgb(51,115,170);
    }

    #nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
        display: block;
    }

    footer div {
        /*text-align: center;*/
    }

    footer span {
        /*margin: 15px auto;*/
    }
}