---
layout: page
title: Team
permalink: /team/
---

<!-- Team Start -->
{% for member in site.categories.team %}
<section class="wrapper team-individual col-xs-12">
    <div class="col-xs-12 col-sm-4">
        <img src="{{ site.baseurl }}/img/team/{{member.photo}}" class="img-responsive"/>
    </div>
    <div class="col-xs-12 col-sm-8">
        <h3>{{ member.title }} , {{ member.position }}</h3>
        <p>{{ member.content | strip_html | truncatewords: 60 }}</p>
        <a href="{{ member.url | prepend: site.baseurl }}"><button>Read More</button></a>
    </div>
</section>
{% endfor %}

<!-- Testimonials -->
<section class="testimonials wrapper col-xs-12">
    <h1>Testimonials</h1>
    <blockquote>
        Mike has earned his outstanding reputation by consistently performing at a high level and sharing
        his wealth of knowledge with hiring managers and professionals. He has great access to the marketplace of talent and
        always adds wisdom to the decision-making process. Mike establishes long term relationships with the people he works
        with, something I value greatly.

        <small class="text-right"> John Hennessey, Vice President of Operations at Palleon Pharma, Inc.</small>
    </blockquote>

    <blockquote>
        I have known Joe for many years. He is a trusted advisor and friend. I always use him for my key hires and
        I am never disappointed with the outcome.

        <small class="text-right">Paul Falvey, Chief Financial Officer at PhysicianOne Urgent Care</small>
    </blockquote>

    <blockquote>
    Jennifer’s professional reputation goes well beyond her capabilities as a business owner and
    recruiter. She started a local chapter for the elderly to safely continue to live independently in their homes. She
    has helped talented international young people find educational opportunity in this country and is very committed to
    promoting the importance of sustainable energy.
        <small class="text-right">Hilary Clinton, former Secretary of State of the United States</small>
    </blockquote>

    <blockquote>
    I’ve been working with Jordan since 2004. Since that time, he has presented me with many high caliber candidates.
    I’ve hired a number of his candidates and many of them turned out to be my best employees Not only does Jordan
    provide quality candidates that fit our needs, but he doesn’t present resumes that are not in line with what we are
    looking for. I like to work directly with Jordan because he is well versed with the trends of the job market and I
    value his input and advice. He is very well plugged in to the candidates in the New England region and has a
    national reputation for recruiting senior level audit professionals. I highly recommend Jordan if you are looking
    for great talent!
    <small class="text-right">Joe Langenfeld, Vice President, Internal Audit at The MENTOR Network</small>
    </blockquote>

    <blockquote>
        I have worked with Connie for many years. He quickly understands the needs of the hiring manager and
        the culture of the organization to find the best candidates. Connie acts as a true business partner and operates
        with honesty and responsiveness.
        <small class="text-right">Vincent Fermano, Director, Office of the CEO at Tufts Health Plan</small>
    </blockquote>
    {% for testimonial in site.categories.testimonials %}
    {% endfor %}

</section>