---
layout: page
title: Team
permalink: /team/
---

<!-- Team Start -->
{% for member in site.categories.team %}
<section class="wrapper team-individual">
    <div>
        <img src="{{ site.baseurl }}/img/team/{{member.photo}}" />
    </div>
    <div class="col-md-7">
        <h3>{{ member.title }} , {{ member.position }}</h3>
        <p>{{ member.content | strip_html | truncatewords: 60 }}</p>
        <a href="{{ member.url | prepend: site.baseurl }}"><button>Read More</button></a>
    </div>
</section>
{% endfor %}

<!-- Testimonials -->
<section class="testimonials wrapper">
    <h1>Testimonials</h1>
    {% for testimonial in site.categories.testimonials %}
    {% endfor %}

</section>