<!-- Header Start -->
<header>
    <!-- social media -->
    <ul>
        <a href="facebook.com"><li></li></a>
        <a href="linkedin.com"><li></li></a>
        <a href="google.com"><li></li></a>
    </ul>
    <img src="logo.png">
    <h2>Making the Best Match is Our Passion</h2>
    <nav>
        <ul>
            <a><li>Build Your Team</li></a>
            <a><li>Advance Your Career</li></a>
            <a><li>Submit Resume</li></a>
            <a><li>Meet Our Team</li></a>
        </ul>
    </nav>
</header>