<!-- Header Start -->
<header class="flex-center">
    <!-- social media -->
    <ul class="col-xs-12 social-media wrapper">
        <a href="facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="linkedin.com"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="google.com"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
    </ul>
    <div class="col-xs-12 wrapper">
        <img src="{{ site.baseurl }}/img/kda_logo.png" class="col-xs-2">
        <h2 class="col-xs-10 text-right">Making the Best Match is Our Passion</h2>
    </div>
    <nav class="col-xs-12 wrapper">
        <ul>
            <a href="{{site.baseurl}}/buildteam"><li>Build Your Team</li></a>
            <a href="{{site.baseurl}}/career"><li>Advance Your Career</li></a>
            <a href="{{site.baseurl}}/resume"><li>Submit Resume</li></a>
            <a href="{{site.baseurl}}/team"><li>Meet Our Team</li></a>
        </ul>
    </nav>
</header>