<!-- Header Start -->
<header class="flex-center-stacked">
    <!-- social media -->
    <ul class="col-xs-12 social-media wrapper">
        <a id="nav-toggle" class="text-left" href="#">
            <span></span>
        </a>
        <a href="https://www.facebook.com/Kingston-Dwight-Associates-114357485380704/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/company/116793" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        <a href="https://plus.google.com/106725369132121741631" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
    </ul>
    <div class="col-xs-12 wrapper">
        <a href="{{site.baseurl}}/"><img src="{{ site.baseurl }}/img/kda_logo.png" alt="Logo" class="col-xs-4 col-sm-2 logo"></a>
        <h3 class="col-xs-12 col-sm-8 pull-right">Our Passion - Make the Best Match</h3>
    </div>
    <nav class="col-xs-12 wrapper hidden-xs">
        <ul>
            <a href="{{site.baseurl}}/buildteam"><li>Build Your Team</li></a>
            <a href="{{site.baseurl}}/career"><li>Advance Your Career</li></a>
            <a href="{{site.baseurl}}/resume"><li>Talk To Us</li></a>
            <a href="{{site.baseurl}}/team"><li>Meet Our Team</li></a>
        </ul>
    </nav>
    <div class="full-screen-mobile-menu">
            <ul>
                <a href="{{site.baseurl}}/buildteam"><li>Build Your Team</li></a>
                <a href="{{site.baseurl}}/career"><li>Advance Your Career</li></a>
                <a href="{{site.baseurl}}/resume"><li>Talk To Us</li></a>
                <a href="{{site.baseurl}}/team"><li>Meet Our Team</li></a>
            </ul>
    </div>

</header>